[submodule "armbian_build"]
	path = ext/armbian_build
	url = https://github.com/armbian/build
[submodule "rootfs_build/rocknix_distribution"]
	path = ext/rocknix_distribution
	url = https://github.com/ROCKNIX/distribution
